<div class="controllerCmp-area">

	<div class="controllerCmp-title">{{callType}}</div>

	<div class="controllerCmp-border">

		<div class="controllerCmp-onAudioOnly" ng-if="showAudio && isInCommunication">
			<div class="csa-info">Audio calling with</div>
			<div class="csa-info-name">{{naMe}}</div>
			<img id="img-audio" src="/res/call.png">
		</div>


		<img id="img-call" src="/res/calling.gif" ng-if="!isInCommunication">


		<!-- 			<div class="controllerCmp-webrtc-topbar" ng-show="true">
				<button class="controllerCmp-btn-topbar" ng-show="hasLocalVideo && isPIPDisplayed" ng-click="hidePIP()"><i class="fa fa-user-times controllerCmp-btn-topbar-icon"></i></button>
				<button class="controllerCmp-btn-topbar" ng-show="hasLocalVideo && !isPIPDisplayed" ng-click="showPIP()"><i class="fa fa-user-plus controllerCmp-btn-topbar-icon"></i></button>
				<button class="controllerCmp-btn-topbar" ng-show="hasRemoteVideo && isRemoteVideoDisplayed" ng-click="hideRemote()"><i class="fa fa-window-close-o controllerCmp-btn-topbar-icon"></i></button>
				<button class="controllerCmp-btn-topbar" ng-show="hasRemoteVideo && !isRemoteVideoDisplayed" ng-click="showRemote()"><i class="fa fa-video-camera controllerCmp-btn-topbar-icon"></i></button>
				<button class="controllerCmp-btn-topbar" ng-show="isSpectrumDisplayed" ng-click="hideSpectrum()"><i class="fa fa-times controllerCmp-btn-topbar-icon"></i></button>
				<button class="controllerCmp-btn-topbar" ng-show="!isSpectrumDisplayed" ng-click="showSpectrum()"><i class="fa fa-signal controllerCmp-btn-topbar-icon"></i></button>
			</div> -->


		<div class="controllerCmp-webrtc-bar">
			<div class="controllerCmp-buttons-area">

				<img class="controllerCmp-btn" src="./res/bt_held_blue.png" ng-show="!isMuted" alt="Mute"
					ng-click="mute()" />

				<img class="controllerCmp-btn" src="./res/bt_retreive_blue.png" ng-show="isMuted" alt="Unmute"
					ng-click="unmute()" />


				<img class="controllerCmp-btn" src="./res/bt_hangout.png" ng-click="release()" alt="Stop the call" />


			</div>
		</div>


		<div class="controllerCmp-webrtc-area" ng-show="showVideo && isInCommunication">
			<div class="controllerCmp-webrtc-video">
				<video id="largevideo" autoplay></video>
				<video id="minivideo" autoplay muted></video>
				<video id="globalVideoTag" autoplay style="display:none;"></video>
				<audio id="globalAudioTag" autoplay style="display:none;"></audio>
			</div>
		</div>


	</div>
</div>