<div class="controllerCmp-area" ng-if="$root.open_audio || $root.open_video">

	<div class="controllerCmp-title"> {{$root.callType}} </div>

	<div class="controllerCmp-border">

		<div class="controllerCmp-onAudioOnly" ng-if="($root.open_audio && isInCommunication)">
			<div class="csa-info">You are now talking to:</div>
			<div class="csa-info-name">{{$root.csaName}}</div>
			<img id="img-audio" src="/res/Ringing-phone.gif">
			<div class="audio-features">
				<i class="zmdi zmdi-n-2-square zmdi-hc-3x mdc-text-red"></i>
				<p class="intro-features-desc">Please remember to be nice! Any abusive language will result in an immediate disconnection from the chat</p>
			</div>
		</div>
		
		
		<img id="img-call" src="/res/blue_loading_circle.gif" ng-if="!isInCommunication">
		<i class="zmdi zmdi-n-1-square zmdi-hc-3x mdc-text-red" ng-if="!isInCommunication"></i>
		<p class="audio-features-desc"  ng-if="!isInCommunication">Enable your mic and speakers! <br>We want to hear you loud and clear</p>
		<br>
		

		<div class="controllerCmp-webrtc-bar">
			<div class="controllerCmp-buttons-area">

				<img class="controllerCmp-btn" src="./res/bt_held_blue.png" ng-show="!isMuted" alt="Mute"
					ng-click="mute()" />
					
				<img class="controllerCmp-btn" src="./res/bt_retreive_blue.png" ng-show="isMuted" alt="Unmute"
					ng-click="unmute()" />

				<img class="controllerCmp-btn" src="./res/bt_hangout.png" ng-click="release()" alt="Stop the call" />

			</div>
		</div>


		<div class="controllerCmp-webrtc-area" ng-show="($root.open_video && isInCommunication")>
			<div class="controllerCmp-webrtc-video">
				<div class="csa-info">You are now talking to:</div>
				<div class="csa-info-name">{{$root.csaName}}</div>
				<video id="largevideo" autoplay></video>
				<video id="minivideo" autoplay muted></video>
				<video id="globalVideoTag" autoplay style="display:none;"></video>
				<audio id="globalAudioTag" autoplay style="display:none;"></audio>
			</div>
		</div>


	</div>
</div>