.main{
    width:  300PX;
    text-align: left;
    /* margin: auto; */
    /* border: 2px solid #d7d7d7; */
    margin-top: 20px;
    margin-left: 50px;
    font-family: Helvetica;
}

.center{
    margin-left: auto;
    margin-right:auto;
    width: auto;
    display: block;
    text-align: center;
}

ul{
    list-style: square;
    font-size: 10px;
    color : #686868;
    margin-left: -40px;
    margin-bottom: 0px;
}

li{
    border-bottom: 1px solid #ededed;
    background-color: #f4f4f4;
    padding: 10px 0px;
    margin-bottom: 5px;
}

li span {
    cursor : pointer;
    position: relative;
    float: right;
    margin-right: 10px;

}

.addItem{
    position: relative;
    height: 30px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;


}

.addText{
    width: 60%;
    height: 30px;


}

.main button{
    height: 35px;
    width: 50px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.addDropdown{
    position: relative;
    height: 30px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
}

.addChat{
    width: 60%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
}

.addProblem{
    width: 60%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
}