<!-- <script src="../../../angular-animate.min.js"></script> -->
<div class="connectionCmp-area" ng-if="$root.open_form">
	<!-- <div class="introduction" ng-if="introduction">

		<img src="../../../../res/logo_rainbow.png" alt="" class="center">
		<div class="connectionCmp-title">Welcome!</div>
		<p class="intro-text"> bringing you the customer service you deserve</p>

		<div class="intro-features">
			<i class="zmdi zmdi-n-1-square zmdi-hc-3x mdc-text-blue"></i>
			<p class="intro-features-desc">Communicate the way you want to!</p>
			<em class="intro-features-grey">Choose between audio, chat and video call</em>
			<br>
			<i class="zmdi zmdi-n-2-square zmdi-hc-3x mdc-text-blue"></i>
			<p class="intro-features-desc">Skip the needless waiting!</p>
			<em class="intro-features-grey">Directly choose your department of choice</em>
			<br>
			<i class="zmdi zmdi-n-3-square zmdi-hc-3x mdc-text-blue"></i>
			<p class="intro-features-desc">No more long queues!</p>
			<em class="intro-features-grey">Live updates from our transparent and smart queuing system</em>
		</div>

		<div class="intro-captcha-text">
			<em>but first, prove you're not a robot!</em>
			<i class="zmdi zmdi-bug animated infinite wobble zmdi-hc-fw mdc-text-red-700"></i>
		</div> -->
	<!-- <label id="intro-label">Prove You're Not a Robot!</label> -->
	<!-- <form id="intro-form" name="intro-form" ng-submit="read_intro()" autocomplete="off" class="intro-form">
			
		<div vc-recaptcha class="intro-captcha" theme="light" key="model.key" on-create="setWidgetId(widgetId)"  style="transform:scale(0.70);transform-origin:0 0"
				on-success="setResponse(response)" on-expire="cbExpiration()"></div>
			<button class="next-butt" ng-disabled="!gRecaptchaResponse">
				<i class="zmdi zmdi-check zmdi-hc-3x"></i>
			</button>
		</form>
	</div> -->

	<!-- <div class="form" ng-if="form"> -->
	<div class="form" ng-if="true">

		<img src="../../../../res/logo_rainbow.png" alt="" class="center" width="225" height="225">
		<div class="form-title" ng-if="!$root.submit_success">Fill in & Submit!</div>
		<form id="form" name="form" autocomplete="off" class="connectionCmp-form" novalidate ng-if="!$root.submit_success">
			<!-- Name -->
			<div class="form-group">
				<label id="label">Name </label>
				<input id="username" class="form-control" type="text" name="user" ng-model="user.name"
					placeholder="Enter First Name" required>
				<span class="msg" ng-show="form.user.$dirty && form.user.$invalid">
					<span ng-show="form.user.$error.required">Name is required.</span>
					<!-- <span ng-show="form.user.$dirty && form.user.$error.pattern">Please enter valid name.</span> -->
					<!-- pattern="/^[a-zA-Z0-9.\-\s]+$/i" -->
				</span>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label id="label">Email </label>
				<input id="email" class="form-control" ng-model="$root.user.email" type="email"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" placeholder="Enter Email Address"
					required />
				<span class="msg" ng-show="form.email.$dirty && form.email.$invalid">
					<span class="msg" ng-show="form.email.$error.required"> Email is required. </span>
					<span class="msg" ng-show="form.email.$dirty && form.email.$error.pattern">Please enter valid
						email.</span>
				</span>
			</div>

			<!-- Department -->
			<div class="form-group">
				<label id="label">Select Department</label>
				<select id="department" class="form-control" ng-model="$root.user.department" name="department"
					required>
					<option>Graduate Office</option>
					<option>Student Administration Office</option>
					<option>General Enquiry</option>
				</select>
				<span class="msg" ng-show="form.cont.$error.required">Select a value</span>
			</div>

			<!-- Chat type -->
			<div class="form-group">
				<label id="label">Select chat type</label>
				<select id="type" class="form-control" ng-model="$root.user.communication" name="communication" required>
					<option>Chat</option>
					<option>Audio</option>
					<option>Video</option>
				</select>
				<span class="msg" ng-show="form.cont.$error.required">Select a value</span>
			</div>

			<!-- Problem -->
			<div class="form-group" ng-if="$root.user.communication == 'Chat'">
				<label id="label" class="form-control" class="control-label">Select problem category</label>
				<textarea id="problem" rows="10" cols="30" class="form-control" type="text" name="problem"
					ng-model="user.problem" placeholder="Please specify your problem." required> </textarea>

				<span class="msg" ng-show="form.problem.$dirty && form.problem.$invalid">
					<span ng-show="form.problem.$error.required">Please state your problem so we can serve you
						better.</span>
				</span>

			</div>

			<button id="submitBut" class="connectionCmp-btn" ng-disabled="form.$invalid && !isConnected "
				ng-click="signin()">Submit</button>

		</form>

		<div class="connectionCmp-state-result" ng-if="$root.submit_success">
			<i class="zmdi zmdi-settings zmdi-hc-spin zmdi-hc-5x" ng-if="isLoading" />
			<div class="connectionCmp-state">State: <b class="connectionCmp-state-value">{{state}}</b></div>
			<div class="connectionCmp-state">Queue Number: <b class="connectionCmp-state-value">{{$root.queueNumber}}</b>
			</div>
			<div class="connectionCmp-state">Number of people in front of you: <b
					class="connectionCmp-state-value">{{queueInFront}}</b></div>

		</div>


	</div>
</div>




<!-- ------------------------------------------------------------------- -->

<!-- <button class="connectionCmp-btn" ng-disabled="!isConnected" ng-click="signout()">Sign Out
		</button> -->