<div class="connectionCmp-area">
	<div class="connectionCmp-title">Connection</div>
	<img src="../../../../res/logo_rainbow.png" alt="" class="center" width="200" height="200">


	<form id="form" name="form" autocomplete="off" class="connectionCmp-form" novalidate >
		<!-- Name -->
		<div class="form-group">
			<label id="label">Name: </label>
			<input id="username" class="form-control" type="text" name="user" ng-model="user.name"  placeholder="Enter First Name" required>
			<span class="msg" ng-show="form.user.$dirty && form.user.$invalid">
				<span ng-show="form.user.$error.required">Name is required.</span>
				<!-- <span ng-show="form.user.$dirty && form.user.$error.pattern">Please enter valid name.</span> -->
				<!-- pattern="/^[a-zA-Z0-9.\-\s]+$/i" -->
			</span>
		</div>

		<!-- Email -->
		<div class="form-group">
			<label id="label">Email:</label>
			<input id="email" class="form-control" ng-model="user.email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" placeholder="Enter Email Address" required/>
			<span class="msg" ng-show="form.email.$dirty && form.email.$invalid">
				<span class="msg" ng-show="form.email.$error.required"> Email is required. </span>
				<span class="msg" ng-show="form.email.$dirty && form.email.$error.pattern">Please enter valid email.</span>
			</span>
		</div>
		
		<!-- Department -->
		<div class="form-group">
			<label id="label">Select Department</label>
			<select id="department" class="form-control" ng-model="$root.user.department" name="department" required>
				<option>Graduate Office</option>
				<option>Student Administration Office</option>
			</select>
			<span class="msg" ng-show="form.cont.$error.required">Select a value</span>
		</div>

		<!-- Chat type -->
		<div class="form-group">
			<label id="label">Select chat type</label>
			<select id="type" class="form-control" ng-model="user.communication" name="communication" required>
				<option>Chat</option>
				<option>Audio</option>
				<option>Video</option>
			</select>
			<span class="msg" ng-show="form.cont.$error.required">Select a value</span>
		</div>

		<!-- Problem -->
		<div class="form-group">
			<label id="label" class="form-control" class="control-label">Select problem category</label>
			<select id="problem" ng-model="user.problem" name="problem" required>
				<option>problem 1</option>
				<option>problem 2</option>
				<option>problem 3</option>
			</select>
			<span class="msg" ng-show="form.cont.$error.required">Select a value</span>
		</div>

		<button class="connectionCmp-btn" ng-disabled="form.$invalid && !isConnected " ng-click="signin()">Submit
		</button>

		<img class="connectionCmp-loader" src="./res/progress.gif" ng-if="isLoading" />
	</form>
	
	<div class="connectionCmp-state-result">
		<div class="connectionCmp-state">State: <b class="connectionCmp-state-value">{{state}}</b></div>
		<div class="connectionCmp-state">Queue Number: <b class="connectionCmp-state-value">{{queueStatus}}</b></div>
		<div class="connectionCmp-state">Queue Position: <b class="connectionCmp-state-value">{{queueInFront}}</b></div>
	</div>
</div>


		<!-- ------------------------------------------------------------------- -->

		<!-- <button class="connectionCmp-btn" ng-disabled="!isConnected" ng-click="signout()">Sign Out
		</button> -->