@import url(https://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css);

/* area section */
.connectionCmp-area {
    position: fixed;
    height: 85%;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 4px;
    margin-left:0px ;
    float:right;
    border-radius: 10px;
    text-align: center;

}
.connectionCmp-area.ng-enter{
	transition: 0.5s linear all;
    opacity: 0;
    transform: translateY(30px)
}

.connectionCmp-area.ng-enter.ng-enter-active{
    opacity: 1;
    transform: translateY(0);
}

.connectionCmp-area.ng-leave{
	transition: 0.5s linear all;
    opacity: 1;
    transform: translateY(0px)
}

.connectionCmp-area.ng-leave.ng-leave-active{
    opacity: 0;
    transform: translateY(30px);
}
/* area section */

/*landing page */
.introduction.ng-leave{
	transition: 0.5s linear all;
    opacity: 1;
}

.introduction.ng-leave.ng-leave-active{
    opacity: 0;
}

.center{
    margin-left: auto;
    margin-right:auto;
    width: auto;
    display: block;
    text-align: center;
}

.connectionCmp-title {
    width: 100%;
    text-align: center;
    font-size: 70px;
    height: 55px;
    line-height: 50px;
    font-weight: 900;
    color: #004d8d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
}
.intro-text{
    margin-left: auto;
    margin-right:auto;
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #42a5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: normal;
}
.intro-text > i{
    position: relative;
    text-align: center;
    font-size:medium;
    color: #42a5f5;
    padding-top: 8px;
}

.intro-features{
    margin-left: auto;
    margin-right:auto;
    position: relative;
    width: 80%;
}

.intro-features > p{
    margin-bottom: 0px;
}

.intro-features-desc{
    font-size: 18px;
    font-weight: 500;
    color: #000000
}


.intro-captcha > div{
    margin-left: auto;
    margin-right:auto;
}

.intro-captcha-text{
    margin-left: auto;
    margin-right:auto;
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #004d8d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30px;
}

.next-butt{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	color: #f0f0f0;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background: #42a5f5;
    font-size: 1em;
    margin-left: auto;
    margin-right:auto;
    margin-top: 40px;
	
}

.next-butt:hover{
	color: #42a5f5;
	background-color:#f0f0f0;
}

.next-butt:disabled {
    color: white;
    background: #656565;
}
/*landing page */

/*form*/
.form.ng-enter{
    transition: 0.5s linear all ;
    transition-delay: 0.6s;
    opacity: 0;
}
.form.ng-enter.ng-enter-active{
    opacity: 1;
}

.connectionCmp-form.ng-leave{
    transition: 0.5s linear all ;
    opacity: 1;
}
.connectionCmp-form.ng-leave.ng-leave-active{
    opacity: 0;
}
.form-title.ng-leave{
    transition: 0.5s linear all ;
    opacity: 1;
}
.form-title.ng-leave.ng-leave-active{
    opacity: 0;
}

.form-title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    height: 55px;
    line-height: 50px;
    font-weight: 900;
    color: #004d8d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}


.connectionCmp-form {
    position: relative;
    padding: 8px;
    border-radius: 4px;
    /* height: 100%; */
    text-align: center;
    margin-top: 10px;
}

.form-group > label{
    color: #42a5f5;
    font-weight: 500;
}

.connectionCmp-btn {
    margin-top: 20px;
    border: none;
    padding: 8px;
    line-height: 32px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    
}

.connectionCmp-btn:enabled {
    color: white;
    background: #0087cf;
    cursor: pointer;
}

.connectionCmp-btn:disabled {
    color: white;
    background: #656565;
}

input#username, input#email{
    margin-bottom: 15px;
    width: 80%;
    height: 24px;
    padding: 10px;
    border: 1px solid rgba(73, 98, 171, 0.22);
    color: #656565;
    background: #FBFBFB;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border-radius: 6px;
    margin-left: 20px;
    font-size: 20px;
}

textarea#problem{
    margin-bottom: 15px;
    width: 76%;
    height: 60px;
    padding: 10px;
    border: 1px solid rgba(73, 98, 171, 0.22);
    color: #656565;
    background: #FBFBFB;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border-radius: 6px;
    margin-left: 20px;
    font-size: 18px;
}

::placeholder {
    font-size: 18px;
    font-family: Arial;
}

select#department, select#type {
    margin-bottom: 15px;
    width: 82%;
    height: 40px;
    padding: 5px;
    border: 1px solid rgba(73, 98, 171, 0.22);
    color: #656565;
    background: #FBFBFB;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border-radius: 6px;
    margin-left: 20px;
    font-size: 20px;
}


span.msg{
    color:red;
}

label#label{
    font-size: 18px;
}


select#host {
    margin-bottom: 5px;
    width: 164px;
    height: 34px;
    padding: 5px;
    border: 1px solid rgba(73, 98, 171, 0.22);
    color: #656565;
    background: #FBFBFB;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border-radius: 6px;   
}

.connectionCmp-state {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #004d8d;
}

.connectionCmp-state-value {
    color: #009688;
}

.connectionCmp-state-result {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.connectionCmp-state-result.ng-enter{
    opacity:0;
    transition: 0.5s linear all;
    transition-delay: 1s;
}

.connectionCmp-state-result.ng-enter.ng-enter-active{
    opacity:1;
}

.connectionCmp-loader {
    margin-top: 3px;
}

/* .chat > div.ng-enter{
	transition: 0.5s linear all;
    opacity: 0;
    transform: translateY(50px)
}

.chat > div.ng-enter.ng-enter-active{
    opacity: 1;
    transform: translateY(0px);
} */

