<!DOCTYPE HTML>
<html lang="en" ng-controller="sampleController" ng-app="sample">

<head>
	<title>ESC Web</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="./res/logo_rainbow.png" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic-ext,cyrillic">
	<link rel="stylesheet" href="./src/styles/sdkSampleApp.css">
	<link rel="stylesheet" href="./src/js/components/connection/connectionCmp.css">


	<link rel="stylesheet" href="./src/js/components/contacts/contactsCmp.css">
	<link rel="stylesheet" href="./src/js/components/contacts/contactCmp.css">
	<link rel="stylesheet" href="./src/js/components/conversations/conversationCmp.css">
	<link rel="stylesheet" href="./src/js/components/conversations/messageCmp.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="//cdn.jsdelivr.net/momentjs/2.15.1/moment-with-locales.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
	<script src="./node_modules/rainbow-web-sdk/dist-legacy/vendors-sdk.min.js"></script>
	<script src="./node_modules/rainbow-web-sdk/dist-legacy/rainbow-sdk.min.js"></script>
	<script src="./src/js/sdkSampleApp-noLoader.js"></script>
	<script src="./src/angular-animate.min.js"></script>
	<script src="./node_modules/angular-recaptcha/release/angular-recaptcha.js"></script>

	<script src="./src/js/components/connection/connectionCmp.js"></script>
	<!-- <script src="./src/js/components/connection/oldconnectionComp.js"></script>    -->

	<script src="./src/js/components/contacts/contactsCmp.js"></script>
	<script src="./src/js/components/contacts/contactCmp.js"></script>
	<script src="./src/js/components/conversations/conversationsCmp.js"></script>
	<script src="./src/js/components/conversations/conversationCmp.js"></script>
	<script src="./src/js/components/conversations/messageCmp.js"></script>



	<!-- -----------------Testing---------------- -->

	<link rel="stylesheet" href="./src/js/components/controller/controllerCmp.css">
	<link rel="stylesheet" href="./src/js/components/spectrum/spectrumCmp.css">
	<script src="./src/js/components/controller/controllerCmp.js"></script>
	<script src="./src/js/components/media/mediaCmp.js"></script>
	<script src="./src/js/components/spectrum/spectrumCmp.js"></script>
	<script src="./src/js/components/spectrum/spectrumCmp.js"></script>





</head>

<style>
	body {
		background-image: url('./res/sutd_background.png');
		background-size:cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>

<body>

	<!-- <div class="app-contacts">
			<rbx-contacts name="rbxContacts"></rbx-contacts>
		</div> -->

	<!-- Demo specific part -->
	<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center"></div>
		<!-- <md-button class="md-primary md-raised" ng-click="showAdvanced()">
				Open Chat
			</md-button> -->
		<button class="open_chat_button" ng-click="butt_val_changer()" href="#">
			<i id="chaticon" class = "zmdi zmdi-comment-outline zmdi-hc-3x" ng-if="!chat_val"></i>
			<i id="xicon" class = "zmdi zmdi-close zmdi-hc-3x" ng-if="chat_val"></i>
		</button>


		<div class="app-container-test" ng-if = "open_audio">
			<rbx-controller name="rbxController"></rbx-controller>
		</div>

		<div class="app-user">
			<rbx-connection name="rbxConnection"></rbx-connection>
		</div>


		<div class="app-container" ng-if="open_chat">
			<rbx-conversations name="rbxConversations"></rbx-conversations>
		</div>
		<!-- <div ng-if="status" id="status">
			<b layout="row" layout-align="center center" class="md-padding">
				{{status}}
			</b>
			</div> -->

	</div>
	<!-- <div class="dialog-demo-content" layout="row"> -->
		<!-- <div class="app-container-test" ng-if = "open_audio">
			<rbx-controller name="rbxController"></rbx-controller>
		</div> -->
	<!-- </div> -->


</body>

</html>